<nav>
    <ul class="block w-full justify-between text-cyan-400 m-10 text-xl xl:flex sm:w-1/2">
        <li><a href="#aboutme" class="hover:text-cyan-600">Sobre mi</a></li>
        <li><a href="#skills" class="hover:text-cyan-600">Conocimientos</a></li>
        <li><a href="#studies" class="hover:text-cyan-600">Formación académica</a></li>
        <li><a href="#proyects" class="hover:text-cyan-600">Experiencia profesional</a></li>
    </ul>
</nav>