<nav class="flex">
    <ul class="flex w-1/2 justify-between text-cyan-400  m-10 text-xl">
        <li><a href="" class="hover:text-cyan-600">Inicio</a></li>
        <li><a href="" class="hover:text-cyan-600">Sobre mi</a></li>
        <li><a href="" class="hover:text-cyan-600">Conocimientos</a></li>
        <li><a href="" class="hover:text-cyan-600">Contacto</a></li>
        <li><a href="" class="hover:text-cyan-600">Proyectos</a></li>
    </ul>
</nav>